.UserImg{
    height:125px;
    width:125px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    left:30px;
}
#Name{
    text-align:center;
    position: relative;
    margin:10px;
    margin-left:5px;
    margin-bottom:0px;
    
}
#Container{
    position: relative;
    top:0%;
}
#Role{
    text-align:center;
    position: relative;
    margin:5px;
    margin-left:0px;
}
.LoginButton-1{
    height:80px;
    width:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    left:50px;
    top:-20px;
}